<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Wpisy</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {% for _, tweet in tweets.iterrows() %}
            <tr>
                <td>{{ wpis['Username'] }}</td>
                <td>{{ wpis['Date'] }}</td>
                <td>{{ wpis['Content'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
